<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid text-light">
      <a class="navbar-brand text-light">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-light" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item text-light">
            <a class="nav-link active text-light" aria-current="page" routerLink="/pages/characteres">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"  routerLink="/pages/favorites">Favoritos</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger text-light" (click)="logout()">Desloguearse</button>
          </li>
    
        </ul>
      </div>
    </div>
  </nav>