.characteres-container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 200px, 1fr ) );
    gap: 20px;
    /*  BEM */
    &__item{
        display: flex;
        flex-direction: column;

        img{
            width: 100%;
        }
    }

    .status{
        font-weight: 500;
    }
}